.hero {
  height: 100vh;
  background-image: url(./assets/reell.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.view:after {
  background-color: blue;
  contain: "";
  position: absolute;
  height: 10px;
  left: 0;
  width: 0%;
  bottom: 0;
  transition: width 0.3s ease;
}

.view:hover:after {
  width: 100%;
}
